body {
    background-color: #3d7c47;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content {
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calculatorContainer {
    background-color: #09868b;
    height: 700px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#displayContainer {
    background-color: #f7f7f7;
    margin: 25px;
    border: 1px solid black;
    border-radius: 10px;
    height: 100px;
    align-content: stretch;
    display: flex;
}
#buttonContainer {
    display: flex;
    flex-direction: column;
}

#digitButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#operatorButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#miscButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    background-color: #f7f7f7;
    color: black;
    border-radius: 10px;
    height: 80px;
    width: 80px;
}
